
.debug {
  border: 1px solid black;
  background-color: brown;
}


.debug1 {
  border: 1px solid black;
  background-color: goldenrod;
}

.debug3 {
  border: 1px solid black;
  background-color: green;
}

.debug-card {
  border: 1px solid black;
  background-color: cadetblue;
  height: 300px;
  width: 100%;
  border-radius: 30px;
  
}

.green-background {
  background-color: #1abc9c;
}

header {
  height: 90px;
  background-color: #2c3e50;
}

.jumbotron {
  height: 500px;
}

.container_s {
  width: 90%;
  max-width: 450px ;
}


.star_line {
  border-bottom: 5px solid black;
  width: 40%;
}

ul {
  list-style: none;
  color: white;
}

.container_m {
  max-width: 330px;
  width: 90%;
}

.long_line {
  border-bottom: 2px solid black;
  width: 100%;
  
}

.location {
  background-color: #3a546d;
}

footer {
  background-color: #2c3e50;
  color: white;
}


@media screen and (min-width: 768px) {

  .container_s {
    max-width: 620px ;
  }

  .container_m {
    max-width: 700px;
    width: 90%;
  }

}

@media screen and (min-width: 1200px) {



  .container_m {
    max-width: 980px;
    width: 90%;
  }

}